<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.openintents.shopping.glassware">

  <uses-sdk
    android:minSdkVersion="15"
    android:targetSdkVersion="15" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/ShoppingListTheme">

    <activity
      android:name=".ShoppingListCardScroll"
      android:label="@string/app_name"
      android:icon="@drawable/ic_storefront_50">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="shoppingitem"/>
      </intent-filter>

      <intent-filter>
        <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
      </intent-filter>

      <meta-data
        android:name="com.google.android.glass.VoiceTrigger"
        android:resource="@xml/trigger" />

    </activity>
  </application>

</manifest>
