<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.distribution"
      android:installLocation="auto"
      android:versionCode="3"
      android:versionName="1.0.2">
    <!-- History: 
      1.0.2 [3]: 2012-11-04
      1.0.1 [2]: 2011-02-07
      1.0.0 [1]: 2011-01-22 -->
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <application android:label="@string/oi_distribution_app_name">
        <activity android:name="org.openintents.distribution.EulaActivity"
              android:label="@string/oi_distribution_eula_title">
        </activity>
    </application>
</manifest> 
