<?xml version="1.0" encoding="utf-8"?><!--
	* Copyright (C) 2007-2011 OpenIntents.org
	*
	* Licensed under the Apache License, Version 2.0 (the "License");
	* you may not use this file except in compliance with the License.
	* You may obtain a copy of the License at
	*
	*      http://www.apache.org/licenses/LICENSE-2.0
	*
	* Unless required by applicable law or agreed to in writing, software
	* distributed under the License is distributed on an "AS IS" BASIS,
	* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	* See the License for the specific language governing permissions and
	* limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.openintents.shopping"
    android:installLocation="auto">

    <!-- History:
     * * * UPDATE ATRACKDOG METADATA BELOW FOR RELEASE CANDIDATES * * *
          1.8 [10044]: 2013-12-??
    1.7.0.6 [10042]: 2012-11-26
    1.7.0.4 [10041]: 2012-10-16
    1.7.0.3 [10040]: 2012-09-08
    1.7.0.1 (-rc1) [10038]: 2012-06-07
    1.6 [10037]: 2012-01-29
    1.6-rc1 [10036]: 2012-01-25
    1.5 [10035]: 2011-12-08
    1.4.1 [10034]: 2011-08-27
    1.4 [10032]: 2011-08-20
    1.3.1 [10027]: 2011-06-11
    1.3.0 [10026]: 2011-05-28
    1.2.6 [10023]: 2011-01-06
    1.2.5 [10021]: 2010-08-05
    1.2.4 [10020]: 2010-06-26
    1.2.3 [10016]: 2010-03-24
    1.2.2 [10015]: 2010-03-06
    1.2.1 [10014]: 2010-02-21
    1.2.0 [10011]: 2010-01-01
    1.1.2 [10009]: 2009-10-14
    1.1.1 [10008]: 2009-05-27
    1.1.0 [10006]: 2009-05-16
    1.0.3 [10004]: 2009-02-04  -->

    <permission
        android:name="org.openintents.shopping.READ_PERMISSION"
        android:description="@string/oi_shopping_permission_read_descr"
        android:label="@string/oi_shopping_permission_read"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />
    <permission
        android:name="org.openintents.shopping.WRITE_PERMISSION"
        android:description="@string/oi_shopping_permission_write_descr"
        android:label="@string/oi_shopping_permission_write"
        android:permissionGroup="android.permission-group.PERSONAL_INFO"
        android:protectionLevel="normal" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="org.openintents.shopping.READ_PERMISSION" />
    <uses-permission android:name="org.openintents.shopping.WRITE_PERMISSION" />

    <application
        android:name=".ShoppingApplication"
        android:allowBackup="true"
        android:backupAgent="ShoppingBackupAgent"
        android:icon="@drawable/ic_launcher_shoppinglist"
        android:label="@string/app_name"
        tools:replace="label">

        <!-- aTrackDog metadata -->
        <meta-data
            android:name="com.a0soft.gphone.aTrackDog.testVersion"
            android:value="10036" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIyg1-9MfKF9MnoINzk-FPUGiXcqLuHLcMP3PvEg" />

        <meta-data
            android:name="org.openintents.about"
            android:resource="@xml/about" />

        <meta-data
            android:name="org.openintents.metadata.USES_INTENT"
            android:value="org.openintents.action.SHOW_ABOUT_DIALOG?org.openintents.extra.PACKAGE_NAME=org.openintents.shopping" />

        <meta-data
            android:name="org.openintents.themes"
            android:resource="@xml/themes" />

        <provider
            android:name="org.openintents.shopping.provider.ShoppingProvider"
            android:authorities="org.openintents.shopping"
            android:exported="true"
            android:readPermission="org.openintents.shopping.READ_PERMISSION"
            android:writePermission="org.openintents.shopping.WRITE_PERMISSION" />

        <!-- Shopping activity -->
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/app_name"
            android:theme="@style/OITheme"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="org.openintents.category.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openintents.shopping.item" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.item" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.list" />
            </intent-filter>
            <!--
            <intent-filter>
                      <action android:name="org.openintents.action.INSERT_FROM_EXTRAS" />
                      <category android:name="android.intent.category.DEFAULT" />
                      <data android:mimeType="org.openintents.type/string.arraylist.shopping" />
                  </intent-filter>
                   -->
        </activity>

        <activity android:name=".ui.ShoppingListsActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.openintents.shopping.list" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.openintents.action.INSERT_FROM_EXTRAS" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.ALTERNATIVE" /> -->
                <data android:mimeType="org.openintents.type/string.arraylist.shopping" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <activity
            android:name=".share.ListShareSettingsActivity"
            android:label="@string/share_settings"
            android:theme="@android:style/Theme.Dialog">
            <!-- android:icon="@android:drawable/ic_menu_share" -->
            <!-- This activity implements an alternative action that can be
                 performed on notes: editing their title.  It can be used as
                 a default operation if the user invokes this action, and is
                 available as an alternative action for any note data. -->
            <intent-filter android:label="@string/share">
                <!-- android:icon="@android:drawable/ic_menu_share" -->
                <!-- Edit the share settings. -->
                <action android:name="org.openintents.action.SET_SHARE_SETTINGS" />
                <!-- DEFAULT: execute if being directly invoked. -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- ALTERNATIVE: show as an alternative action when the user is
                     working with this type of data. -->
                <!-- <category android:name="android.intent.category.ALTERNATIVE" />  -->
                <!-- SELECTED_ALTERNATIVE: show as an alternative action the user
                     can perform when selecting this type of data. -->
                <!-- <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> -->
                <!-- This is the data type we operate on. -->
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.list" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AddLocationAlertActivity"
            android:label="@string/add_location_alert"
            android:theme="@android:style/Theme.Dialog">
            <!-- android:icon="@android:drawable/ic_menu_mylocation" -->
            <intent-filter android:label="@string/add_location_alert">
                <!-- android:icon="@android:drawable/ic_menu_mylocation" -->
                <!-- Edit the share settings. -->
                <action android:name="org.openintents.action.ADD_LOCATION_ALERT" />
                <!-- DEFAULT: execute if being directly invoked. -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- ALTERNATIVE: show as an alternative action when the user is
                     working with this type of data. -->
                <!-- <category android:name="android.intent.category.ALTERNATIVE" />  -->
                <!-- SELECTED_ALTERNATIVE: show as an alternative action the user
                     can perform when selecting this type of data. -->
                <!-- <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> -->
                <!-- This is the data type we operate on. -->
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.list" />
            </intent-filter>
        </activity>

        <activity
            android:name=".automation.EditAutomationActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="org.openintents.action.EDIT_AUTOMATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".automation.AutomationReceiver">
            <intent-filter>
                <action android:name="org.openintents.action.RUN_AUTOMATION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.PreferenceActivity"
            android:label="@string/preferences" />
        <activity
            android:name=".ui.PickItemsActivity"
            android:label="@string/menu_pick_items"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.ItemStoresActivity"
            android:label="@string/item_stores_activity_label"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ui.LayoutChoiceActivity"
            android:label="@string/layout_choice_title"
            android:theme="@style/Theme.AppCompat" />

        <activity android:name="org.openintents.convertcsv.shoppinglist.ConvertCsvActivity"
            android:exported="true"
            android:label="@string/convert_csv"
            android:theme="@style/Theme.AppCompat"
            >
            <intent-filter android:label="@string/convert_csv">
                <action android:name="org.openintents.convertcsv.CONVERT"/>
                <category android:name="android.intent.category.ALTERNATIVE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.openintents.shopping.list" />
            </intent-filter>
            <!-- The following intent makes it viewable in a file browser. -->
            <intent-filter android:label="@string/convert_csv_shoppinglist"
                tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/comma-separated-values" />
            </intent-filter>
        </activity>
        <activity android:name="org.openintents.convertcsv.PreferenceActivity"
            android:label="@string/menu_settings">
        </activity>
        <!-- Activities from OI Distribution Library -->
        <activity android:name="org.openintents.distribution.EulaActivity" />
        <activity android:name="org.openintents.distribution.NewVersionActivity" />

        <!-- Widget -->
        <receiver
            android:name=".widgets.CheckItemsWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="org.openintents.shopping.widgets.ActionCheck" />
                <action android:name="org.openintents.shopping.widgets.ActionPrevPage" />
                <action android:name="org.openintents.shopping.widgets.ActionNextPage" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_check_items" />
        </receiver>
        <activity android:name=".widgets.CheckItemsWidgetConfig">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>
</manifest>
